<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="../static/css/style4.css" type="text/css">

</head>
<nav>
  <ul>
    <li><a href="{% url 'home' %}" >Home </a></li>
    <li><a href="{% url 'store' %}">Store </a></li>
    <li><a href="{% url 'access' %}">Access </a></li>
    <li><a href="{% url 'about' %}">About </a></li>
  <ul>
</nav>

<body>
  <h2> Author </h2>
  <h2>Sai Nikhil Abburi</h2>

  <p>Education: </br>
	 MSc. Electronics Engineering, Hochschule Bremen </br>
	 Note: 1.7</br>
  </p>

  <p>Work Experience:</br>
	Rohde & Schwarz /(Student)</br>
	<Software Developer</br>
	August 2017 - June 2018</br>
  </p>

Links:</br>
<a href="https://github.com/sabburi1994" target="_blank"> Github </a></br>
<a href="https://www.linkedin.com/in/sai-nikhil-b66129104/" target="_blank"> Linkedin </a></br>
<a href="https://www.xing.com/profile/sainikhil_abburi/" target="_blank"> Xing </a></br>
</body>

</html>
