<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="../static/css/style4.css" type="text/css">
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home </a></li>
    <li><a href="{% url 'store' %}">Store </a></li>
    <li><a href="{% url 'access' %}">Access </a></li>
    <li><a href="{% url 'about' %}">About </a></li>
  <ul>
</nav>
<head>
    <meta charset="utf-8" />
    <title>Cars</title>
</head>
<body>
  Car data successfully saved in the database.
  </body>
  </html>
